<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd" colors="false">
  <testsuites>
    <testsuite name="unit">
      <directory>tests/</directory>
      <exclude>tests/Integration</exclude>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
  <coverage>
    <report>
      <clover outputFile="build/clover.xml"/>
      <html outputDirectory="build/coverage/html" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <logging>
    <junit outputFile="build/junit.xml"/>
  </logging>
</phpunit>
